.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid var(--orange);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    display: none; /* Initially hide the toggle button */


}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--orange);
}
.t-button{
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
}

  
  .toggle .t-button {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color:var(--orange);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .toggle:hover .t-button {
    transform: scale(1.1) translateY(-50%);
  }
  
  .toggle svg {
    width: 24px;
    height: 24px;
  }
  
  @media screen and (min-width: 769px) {
    .toggle {
      display: block; /* Display toggle button on laptops and larger screens */
    }
  }
  
